@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #f1faee;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.dropdown-content.open {
  max-height: 16rem;
  opacity: 1;
}

@media screen and (max-width: 769px) {
  .dropdown-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 0;
  }
}
